@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Inicio */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
    font-size: 20px;
    /* background-color: darkgray; */
}

header{
    height: 20px;
    width: 50px;
    padding: 30px;
    font-size: 20px;
    color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bolder;
}

.foto{
    border-radius: 50%;
}

.collapse navbar-collapse{
    margin-left: 20px;
}
.navbar{
    height: 2px;
    width: auto;
}

.foto{
    height: 450px;
    margin: 10px;
    border: 100%;
}
.container-fluid2{
    margin-left: 160px;
    margin-right:140px;
    padding: 40px;
}
.logo {
    float: left;
    color: cadetblue;
}
.logo span {
    color: #131B23;
}
.barra {
    float: right;
    text-shadow: none;
}
.barra ul li {
    list-style: none;
    display: inline-block;
    padding: 2px;
}
.barra a {
    color: #F8FFE5;
    text-decoration: none;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-delay: 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
.texto{
    text-align: center;
}
.btn-1{
    color: #000;
    background-color: darkorange;
    text-decoration: none;
    text-shadow: none;
    height: 120px;
    width: 120px;
    display: flex;
    border-radius: 100%;
    margin-left: 20px;
    background-position: center;
    text-align: center;
}

.btn-2{
    color: #000;
    background-color: tomato;
    text-decoration: none;
    height: 120px;
    width: 120px;
    display: flex;
    border-radius: 80%;
    margin-left: 10px;
}
.btn-3{
    color: #000;
    background-color: darksalmon;
    text-decoration: none;
    height: 120px;
    width: 120px;
    display: flex;
    border-radius: 80%;
    margin-left: 10px;
}

.experiencia{
    margin-left: 10px !important;
}

section{
    height: 200px;
}
footer{
    color: chartreuse;
    padding: 20px;
    text-align: center;
    height: 150px;
}

footer p{
    margin-bottom: 20px;
    color: #000;
}

footer .redes a{
    color: #000; 
    text-decoration: none;
}

footer .redes i{
    color: #000;
    font-style: 50px;
}
.numero{
    margin: 30px;
}
.correo{
    margin: 40px;
}
.linkedin{
    margin: 20px;
}
.instagram{
    margin: 30px;
}
.copyright{
    margin: 100px;
    text-align: center;
    position: static;
}

/*Experiencia laboral  */
p{
    margin-left: 100px;
    height: 20px;
    text-align: start;
    color: darkorange;
}
dt{
    margin-left: 40px;
}
.container{
    margin-left: 10px;
    margin-right: 0;
}


@media only screen and (min-width: 0px) {
    *{
        position: static;
        text-align: center;
    }
    .foto{
        height: 350px;
        margin: 6px;
        border: 100%;
    }
    dt{
        margin-left: 1px;
    }
    ul{
        margin-left: 1px
    }
    .btn-1{
        margin-left: 8px;
    }
    .btn-2{
        margin-left: 8px;
    }
    .btn-3{
        margin-left: 8px;
    }
    .numero{
        margin: 10px;
    }
    .correo{
        margin: 20px;
    }
    .linkedin{
        margin: 50px;
    }
    .instagram{
        position: static;
        margin: 50px;
    }
    .copyright{
        margin: 40px;
        text-align: center;
        position: static;
    }
    p{
        margin-left: 60px;
        height: 20px;
        text-align: start;
        color: darkorange;
    }
}

@media only screen and (min-width: 318px) {
    .btn-1{
        margin-left: 2px;
        display: block;
    }
    .btn-2{
        margin-left: 2px;
    }
    .btn-3{
        margin-left: 2px;
    }
    .correo{
        margin-left: 2px;
    }
    .linkedin{
        margin: 1px;
    }
    .instagram{
        position: static;
        margin: 1px;
    }
    .copyright{
        margin: 1px;
        text-align: center;
        position: static;
    }
}

@media only screen and (min-width: 361px) {
    *{
        position: static;
        text-align: center;
    }
    .foto{
        height: 350px;
        margin: 1px;
        border: 100%;
    }
    dt{
        margin-left: 1px;
    }
    ul{
        margin-left: 1px
    }
    .btn-1{
        margin-left: 10px;
        display: block;
    }
    .btn-2{
        margin-left: 8px;
    }
    .btn-3{
        margin-left: 8px;
    }
    .numero{
        margin: 10px;
    }
    .correo{
        margin: 20px;
    }
    .linkedin{
        margin: 50px;
    }
    .instagram{
        position: static;
        margin: 50px;
    }
    .copyright{
        margin: 40px;
        text-align: center;
        position: static;
    }
}

@media only screen and (min-width: 381px) {
    .numero{
        margin: 10px;
    }
    .correo{
        margin: 40px;
    }
    .linkedin{
        margin: 10px;
    }
    .instagram{
        position: static;
        margin: 10px;
    }
    .copyright{
        margin: 10px;
        text-align: center;
        position: static;
    }
}

@media only screen and (min-width: 420px) {
    .punto{
        position: static;
        text-align: center;
        list-style-type: none;
        margin-left: 1px !important;
    }
    .h2{
        position: relative;
        margin-left: 1px;
    }
    .linkedin{
        margin: 10px;
    }
    .instagram{
        position: static;
        margin: 10px;
    }
    .copyright{
        margin: 30px;
        position: static;
    }
    
}

@media only screen and (min-width: 441px) {
    .numero{
        margin: 10px;
    }
    .correo{
        margin: 50px;
    }
    .linkedin{
        margin: 20px;
    }
    .instagram{
        position: static;
        margin: 20px;
    }
    .copyright{
        margin: 80px;
        text-align: center;
        position: static;
    }
}

@media only screen and (min-width: 450px) {
    *{
        position: static;
        text-align: center;
    }
    .foto{
        height: 350px;
        margin: 1px;
        border: 100%;
    }
    dt{
        margin-left: 1px;
    }
    ul{
        margin-left: 1px
    }
    .btn-1{
        margin-left: 100px;
        display: block;
    }
    .btn-2{
        margin-left: 8px;
    }
    .btn-3{
        margin-left: 8px;
    }
    .punto{
        position: static;
        text-align: center;
        list-style-type: none;
        margin-left: 1px !important;
    }
    .h2{
        position: relative;
        margin-left: 1px;
    }
    .numero{
        margin: 10px;
    }
    .correo{
        margin: 60px;
    }
    .linkedin{
        margin: 20px;
    }
    .instagram{
        position: static;
        margin: 10px;
    }
    .copyright{
        margin: 40px;
        text-align: center;
        position: static;
    }
}

@media only screen and (min-width: 472px) {
    *{
        position: static;
        text-align: center;
    }
    .foto{
        height: 350px;
        margin: 1px;
        border: 100%;
    }
    dt{
        margin-left: 1px;
    }
    ul{
        margin-left: 1px
    }
    .btn-1{
        margin-left: 100px;
        display: block;
    }
    .btn-2{
        margin-left: 8px;
    }
    .btn-3{
        margin-left: 8px;
    }
    .punto{
        position: static;
        text-align: center;
        list-style-type: none;
        margin-left: 1px !important;
    }
    .h2{
        position: relative;
        margin-left: 1px;
    }
    .numero{
        margin: 10px;
    }
    .correo{
        margin: 60px;
    }
    .linkedin{
        margin: 20px;
    }
    .instagram{
        position: static;
        margin: 20px;
    }
    .copyright{
        margin: 10px;
        text-align: center;
        position: static;
    }
}

@media only screen and (min-width: 487px) {
    .numero{
        margin: 10px;
    }
    .correo{
        margin: 70px;
    }
    .linkedin{
        margin: 30px;
    }
    .instagram{
        position: static;
        margin: 10px;
    }
    .copyright{
        margin: 10px;
        text-align: center;
        position: static;
    }
}

@media only screen and (min-width: 500px) {
    .numero{
        margin: 10px;
    }
    .correo{
        margin: 80px;
    }
    .linkedin{
        margin: 30px;
    }
    .instagram{
        position: static;
        margin: 10px;
    }
    .copyright{
        margin: 20px;
        text-align: center;
        position: static;
    }
}

@media only screen and (min-width: 533px) {
    .btn-1{
        margin-left: 120px;
        display: block;
    }
.correo{
        margin: 90px;
    }
    .linkedin{
        margin: 70px;
    }
    .instagram{
        position: static;
        margin: 10px;
    }
    .copyright{
        margin: 40px;
        text-align: center;
        position: static;
    }
}
@media only screen and (min-width: 595px) {
    .btn-1{
        margin-left: 120px;
        display: block;
    }
.correo{
        margin: 60px;
    }
    .linkedin{
        margin: 70px;
    }
    .instagram{
        position: static;
        margin: 10px;
    }
    .copyright{
        margin: 20px;
        text-align: center;
        position: static;
    }
}

@media only screen and (min-width: 663px) {
    .btn-1{
        margin-left: 120px;
        display: block;
    }
.correo{
        margin: 60px;
    }
    .linkedin{
        margin: 90px;
    }
    .instagram{
        position: static;
        margin: 10px;
    }
    .copyright{
        margin: 30px;
        text-align: center;
        position: static;
    }
}

@media only screen and (min-width: 766px) {
    .btn-1{
        margin-left: 200px;
        display: block;
    }
.correo{
        margin: 40px;
    }
    .linkedin{
        margin: 40px;
    }
    .instagram{
        position: static;
        margin: 10px;
    }
    .copyright{
        margin: 50px;
        text-align: center;
        position: static;
    }
}

@media only screen and (min-width: 875px) {
    .btn-1{
        margin-left: 280px;
        display: block;
    }
.correo{
        margin: 40px;
    }
    .linkedin{
        margin: 40px;
    }
    .instagram{
        position: static;
        margin: 20px;
    }
    .copyright{
        margin: 140px;
        text-align: center;
        position: static;
    }
}

@media only screen and (min-width: 986px) {
    .btn-1{
        margin-left: 300px;
        display: block;
    }
.correo{
        margin: 80px;
    }
    .linkedin{
        margin: 60px;
    }
    .instagram{
        position: static;
        margin: 20px;
    }
    .copyright{
        margin: 140px;
        text-align: center;
        position: static;
    }
}

@media only screen and (min-width: 986px) {
    .btn-1{
        margin-left: 460px;
        display: block;
    }
    .copyright{
        margin: 240px;
        text-align: center;
        position: static;
    }
}