@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Inicio */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
    font-size: 15px;
    /* background-color: darkgray; */
}

header{
    height: 20px;
    width: 50px;
    padding: 30px;
    font-size: 20px;
    color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bolder;
}

.foto{
    border-radius: 60%;
}

.navbar {
    background-color: #fff; /* Color de fondo de la barra de navegación */
    padding: 11px; /* Espacio de relleno interno de la barra de navegación */
}
nav{
    height: 160px !important;
}
.navbar-brand {
    font-size: 10px; /* Tamaño de fuente del logotipo */
    align-items: end;
    font-weight: bolder; /* Peso de la fuente del logotipo */
}

.navbar-brand .logo {
    color: #333333; /* Color del texto del logotipo */
    text-align: left;
    margin-right: 10px;
    font-weight: 10px;
}
.navbar-brand .logo span {
    color: cadetblue; /* Color del texto destacado del logotipo */
}

.navbar-nav .nav-item {
    margin-right: 1px; /* Espacio entre elementos del menú */
}

.navbar-nav .nav-link {
    color: #333333; /* Color del texto del enlace */
    font-weight: bold; /* Peso de la fuente del enlace */
}

.navbar-nav .nav-link:hover {
    color: cadetblue; /* Color del texto del enlace al pasar el cursor */
}

.navbar-toggler-icon {
    border-color: #333333; /* Color del icono del botón desplegable */
}

.foto{
    height: 450px;
    margin: 10px;
    border: 100%;
}
.container-fluid2{
    margin-left: 160px;
    margin-right:140px;
    padding: 40px;
}
.logo {
    float: left;
    color: cadetblue;
}
.logo span {
    color: #131B23;
}
.barra {
    float: right;
    text-shadow: none;
}
.barra ul li {
    list-style: none;
    display: inline-block;
    padding: 2px;
}
.barra a {
    color: #F8FFE5;
    text-decoration: none;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-delay: 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
.btn-1{
    color: #000;
    background-color: darkorange;
    text-decoration: none;
    text-shadow: none;
    height: 120px;
    width: 120px;
    display: flex;
    border-radius: 100%;
    margin-left: 1px;
}
.btn-2{
    color: #000;
    background-color: tomato;
    text-decoration: none;
    height: 120px;
    width: 120px;
    display: flex;
    border-radius: 80%;
    margin-left: 10px;
}
.btn-3{
    color: #000;
    background-color: darksalmon;
    text-decoration: none;
    height: 120px;
    width: 120px;
    display: flex;
    border-radius: 100%;
    margin-left: 1px;
}
.experiencia{
    margin-left: 10px !important;
}
.boton{
    border-radius: 80%;
}
section{
    height: 200px;
}
footer{
    color: chartreuse;
    padding: 20px;
    text-align: center;
    height: 150px;
}

footer p{
    margin-bottom: 20px;
    color: #000;
}

footer .redes a{
    color: #000; 
    text-decoration: none;
}

footer .redes i{
    color: #000;
    font-style: 50px;
}
.numero{
    margin: 30px;
}
.correo{
    margin: 40px;
}
.linkedin{
    margin: 20px;
}
.instagram{
    margin: 30px;
}
.copyright{
    margin: 100px;
    text-align: center;
    position: static;
}

/*Experiencia laboral  */
p{
    margin-left: 100px;
    height: 20px;
    text-align: start;
    color: darkorange;
}
dt{
    margin-left: 40px;
}
.container{
    margin-left: 10px;
    margin-right: 0;
}
.navega{
    text-decoration: none;
    text-shadow: none;
    color: #000;
}




@media only screen and (min-width: 0px) {
    *{
        position: static;
        text-align: center;
    }
    .foto{
        height: 300px;
        margin-top: 2px;
        border: 100%;
    }
    h5{
        text-align: left;;
    }
    h2{
        text-align: left;
    }
    .btn-1{
        color: #000;
        background-color: darkorange;
        text-decoration: none;
        text-shadow: none;
        height: 90px;
        width: 90px;
        display: flex;
        border-radius: 100%;
        margin-left: 1px;
    }
    .btn-2{
        color: #000;
        background-color: tomato;
        text-decoration: none;
        height: 90px;
        width: 90px;
        display: flex;
        border-radius: 80%;
        margin-left: 1px;
    }
    .btn-3{
        color: #000;
        background-color: darksalmon;
        text-decoration: none;
        height: 90px;
        width: 90px;
        display: flex;
        border-radius: 80%;
        margin-left: 1px;
    }
    .correo{
        margin: 20px;
    }
    .linkedin{
        margin: 50px;
    }
    .copyright{
        margin: 40px;
        text-align: center;
        position: static;
    }
    p{
        margin-left: 60px;
        height: 20px;
        text-align: start;
        color: darkorange;
    }
}

@media only screen and (min-width: 318px) {
    .texto{
        text-align: right;
    }
    .correo{
        margin-left: 2px;
    }
    .linkedin{
        margin: 10px;
    }
    .copyright{
        margin: 10px;
        text-align: center;
        position: static;
    }
}

@media only screen and (min-width: 361px) {
    *{
        position: static;
        text-align: center;
    }
    .foto{
        height: 380px;
        margin: 1px;
        border: 100%;
    }
    .texto{
        text-align: right;
    }
    .correo{
        margin: 20px;
    }
    .linkedin{
        margin: 20px;
    }
    .copyright{
        margin: 60px;
        text-align: center;
        position: static;
    }
    h2{
        text-align: left;
    }
    h5{
        text-align: left;
    }
    dt{
        text-align: left;
    }
    li{
        text-align: left;
    }
    .punto{
        text-align: left;
    }
    video{
        height: 200px;
    }
    img{
        height: 200px;
    }
}

@media only screen and (min-width: 381px) {
    .row{
        margin-left: 10px;
    }
    .correo{
        margin: 40px;
    }
    .linkedin{
        margin: 10px;
    }
    .copyright{
        margin: 10px;
        text-align: center;
        position: static;
    }
}

@media only screen and (min-width: 420px) {
    .row{
        margin-left: 20px;
    }
    .h2{
        position: relative;
        margin-left: 1px;
    }
    .linkedin{
        margin: 10px;
    }
    .copyright{
        margin: 30px;
        position: static;
    }
    
}

@media only screen and (min-width: 441px) {
    .correo{
        margin: 40px;
    }
    .linkedin{
        margin: 20px;
    }
    .copyright{
        margin: 100px;
        text-align: center;
        position: static;
    }
}

@media only screen and (min-width: 450px) {
    *{
        position: static;
        text-align: center;
    }
    .foto{
        height: 380px;
        margin: 1px;
        border: 100%;
    }
    li{
        text-align: left;
    }
    .h2{
        text-align: left;
    }
    .btn-1{
        color: #000;
        background-color: darkorange;
        text-decoration: none;
        text-shadow: none;
        height: 100px;
        width: 100px;
        display: flex;
        border-radius: 100%;
        margin-left: 1px;
    }
    .btn-2{
        color: #000;
        background-color: tomato;
        text-decoration: none;
        height: 100px;
        width: 100px;
        display: flex;
        border-radius: 80%;
        margin-left: 1px;
    }
    .btn-3{
        color: #000;
        background-color: darksalmon;
        text-decoration: none;
        height: 100px;
        width: 100px;
        display: flex;
        border-radius: 80%;
        margin-left: 1px;
    }
    .correo{
        margin: 40px;
    }
    .linkedin{
        margin: 20px;
    }
    .copyright{
        margin: 60px;
        text-align: center;
        position: static;
    }
    p{
        margin-left: 60px;
    }
}

@media only screen and (min-width: 472px) {
    .foto{
        height: 450px;
        margin: 1px;
        border: 100%;
    }
    .punto{
        text-align: left;
    }
    .correo{
        margin: 60px;
    }
    .linkedin{
        margin: 30px;
    }
    .copyright{
        margin: 10px;
        text-align: center;
        position: static;
    }
    li{
        text-align: left;
    }
    .h2{
        text-align: left;
    }
    video{
        height: 220px;
    }
    img{
        height: 220px;
    }
    p{
        margin-left: 80px;
    }
}

@media only screen and (min-width: 500px) {
    .correo{
        margin: 70px;
    }
    .linkedin{
        margin: 30px;
    }
    .btn-1{
        color: #000;
        background-color: darkorange;
        text-decoration: none;
        text-shadow: none;
        height: 110px;
        width: 110px;
        display: flex;
        border-radius: 100%;
        margin-left: 1px;
    }
    .btn-2{
        color: #000;
        background-color: tomato;
        text-decoration: none;
        height: 110px;
        width: 110px;
        display: flex;
        border-radius: 80%;
        margin-left: 1px;
    }
    .btn-3{
        color: #000;
        background-color: darksalmon;
        text-decoration: none;
        height: 110px;
        width: 110px;
        display: flex;
        border-radius: 80%;
        margin-left: 1px;
    }
    .copyright{
        margin: 30px;
        text-align: center;
        position: static;
    }
    .h2{
        position: relative;
        margin-left: 1px;
    }
}

@media only screen and (min-width: 533px) {
    .correo{
        margin: 10px;
    }
    .linkedin{
        margin: 10px;
    }
    .copyright{
        margin: 10px;
    }
    h3{
        margin-left: 50px;
    }
    .punto{
        margin-left: 10px;
    }
    video{
        height: 240px;
    }
    img{
        height: 240px;
    }
    p{
        margin-left: 100px;
    }
}
@media only screen and (min-width: 593px) {
    .foto{
        height: 480px;
        margin-left: 60px;
        border: 100%;
    }
    .texto{
        text-align: right;
    }

    .correo{
        margin: 20px;
    }
    .linkedin{
        margin: 20px;
    }
    .copyright{
        margin: 10px;
    }
    h2{
        text-align: left;
    }
    h5{
        text-align: left;
    }
    dt{
        text-align: left;
    }
    li{
        text-align: left;
    }
    h3{
        margin-left: 80px;
    }
    .punto{
        margin-left: 20px;
    }
    nav{
        height: 80px !important;
    }
    video{
        height: 220px;
    }
    img{
        height: 220px;
    }
    p{
        margin-left: 120px;
    }
}

@media only screen and (min-width: 663px) {
    .foto{
        height: 480px;
        margin-left: 100px;
        border: 100%;
    }
    .texto{
        text-align: right;
    }
    .correo{
        margin: 30px;
    }
    .linkedin{
        margin: 30px;
    }
    .copyright{
        margin: 30px;
    }
    h2{
        text-align: left;
    }
    h5{
        text-align: left;
        
    }
    dt{
        text-align: left;
    }
    li{
        text-align: left;
    }
    h3{
        margin-left: 120px;
    }
    .punto{
        margin-left: 20px;
    }
    p{
        margin-left: 140px;
    }
}

@media only screen and (min-width: 766px) {
    .row{
        margin-left: 10px;
    }
    .foto{
        height: 340px;
        border: 100%;
        margin: 40px;
    }
    .texto{
        text-align: right;
    }
    .btn-1{
        color: #000;
        background-color: darkorange;
        text-decoration: none;
        text-shadow: none;
        height: 100px;
        width: 100px;
        display: flex;
        border-radius: 100%;
        margin-left: 1px;
    }
    .btn-2{
        color: #000;
        background-color: tomato;
        text-decoration: none;
        height: 100px;
        width: 100px;
        display: flex;
        border-radius: 80%;
        margin-left: 1px;
    }
    .btn-3{
        color: #000;
        background-color: darksalmon;
        text-decoration: none;
        height: 100px;
        width: 100px;
        display: flex;
        border-radius: 80%;
        margin-left: 1px;
    }
    .correo{
        margin: 60px;
    }
    .linkedin{
        margin: 40px;
    }
    .copyright{
        margin: 40px;
    }
    h2{
        text-align: left;
    }
    h5{
        text-align: left;
        
    }
    dt{
        text-align: left;
    }
    li{
        text-align: left;
    }
    h3{
        margin-left: 150px;
    }
    .punto{
        margin-left: 20px;
    }
}

@media only screen and (min-width: 875px) {
    .row{
        margin-left: 20px;
    }
    .foto{
        height: 380px;
        border: 100%;
        margin-left: 10px;
    }
    .texto{
        text-align: right;
    }
    .btn-1{
        color: #000;
        background-color: darkorange;
        text-decoration: none;
        text-shadow: none;
        height: 95px;
        width: 95px;
        display: flex;
        border-radius: 100%;
        margin-left: 1px;
    }
    .btn-2{
        color: #000;
        background-color: tomato;
        text-decoration: none;
        height: 95px;
        width: 95px;
        display: flex;
        border-radius: 80%;
        margin-left: 1px;
    }
    .btn-3{
        color: #000;
        background-color: darksalmon;
        text-decoration: none;
        height: 95px;
        width: 95px;
        display: flex;
        border-radius: 80%;
        margin-left: 1px;
    }
    .correo{
        margin: 80px;
    }
    .linkedin{
        margin: 60px;
    }
    .copyright{
        margin: 60px;
    }
    h2{
        text-align: left;
    }
    h5{
        text-align: left;
    }
    dt{
        text-align: left;
    }
    li{
        text-align: left;
    }
    h3{
        margin-left: 200px;
    }
    .punto{
        margin-left: 10px;
    }
}

@media only screen and (min-width: 986px) {
    .row{
        margin-left: 20px;
    }
    .foto{
        height: 380px;
        border: 100%;
        margin: 60px;
    }
    .texto{
        text-align: right;
    }
    .btn-1{
        color: #000;
        background-color: darkorange;
        text-decoration: none;
        text-shadow: none;
        height: 95px;
        width: 95px;
        display: flex;
        border-radius: 100%;
        margin-left: 1px;
    }
    .btn-2{
        color: #000;
        background-color: tomato;
        text-decoration: none;
        height: 95px;
        width: 95px;
        display: flex;
        border-radius: 80%;
        margin-left: 1px;
    }
    .btn-3{
        color: #000;
        background-color: darksalmon;
        text-decoration: none;
        height: 95px;
        width: 95px;
        display: flex;
        border-radius: 80%;
        margin-left: 1px;
    }
    .correo{
        margin: 80px;
    }
    .linkedin{
        margin: 80px;
    }
    .copyright{
        margin: 80px;
    }
    h2{
        text-align: left;
        margin-left: 40px;
    }
    h5{
        text-align: left;
        margin-left: 40px;
        
    }
    dt{
        text-align: left;
    }
    li{
        text-align: left;
    }
    h3{
        margin-left: 280px;
    }
    .punto{
        margin-left: 20px;
    }
}

@media only screen and (min-width: 1020px) {
    .row{
        margin-left: 20px;
    }
    t
    aside{
        margin-left: 60px;
    }
    .foto{
        height: 440px;
        border: 100%;
        margin: 80px;
    }
    .btn-1{
        color: #000;
        background-color: darkorange;
        text-decoration: none;
        text-shadow: none;
        height: 120px;
        width: 120px;
        display: flex;
        border-radius: 100%;
        margin-left: 1px;
    }
    .btn-2{
        color: #000;
        background-color: tomato;
        text-decoration: none;
        height: 120px;
        width: 120px;
        display: flex;
        border-radius: 80%;
        margin-left: 1px;
    }
    .btn-3{
        color: #000;
        background-color: darksalmon;
        text-decoration: none;
        height: 120px;
        width: 120px;
        display: flex;
        border-radius: 80%;
        margin-left: 1px;
    }
    .correo{
        margin: 80px;
    }
    .linkedin{
        margin: 80px;
    }
    .copyright{
        margin: 80px;
    }
    h3{
        margin-left: 380px;
    }
    .punto{
        margin-left: 10px;
    }
}